[2020-07-06 20:39] rbren opened #2 "Configure CLA"

[2020-07-27 20:08] #2 closed

[2020-07-28 15:33] nesl247 opened #6 "Support for helm template"
**Is your feature request related to a problem? Please describe.**
If helm is only used for templating, no applications are discovered.

**Describe the solution you'd like**
Since helm has standards, and those include app versions and such, it should be possible to discover installations via annotations, rather than expecting `helm install` to have been used. This will allow terraform and pulumi b

[2020-07-28 19:05] anapsix opened #7 "consider supporting --context or --kube-context"
**Is your feature request related to a problem? Please describe.**
there appears to be no way to pick a kubeconfig context, which forces user to separate specific contexts into individual kubeconfigs

**Describe the solution you'd like**
support `--context` or `--kube-context` cli option to select appropriate context from kubeconfig

**Describe alternatives you've considered**
one can generate a s

[2020-07-30 08:40] reini-1 opened #8 "nova version shows wrong version"
### Installation Process

I downloaded verson 1.0.0 from https://github.com/FairwindsOps/Nova/releases/download/1.0.0/Nova_1.0.0_linux_amd64.tar.gz and installed Nova executable to ~/bin/nova

### Nova Version

[code]

### Expected Behavior

It should show correct version 1.0.0

### Actual Behavior

It shows wrong version 0.0.1

### Steps to Reproduce

Install nova from the link above and run `nov

[2020-07-30 08:43] reini-1 commented on #8
I think you must place the correct version string into https://github.com/FairwindsOps/Nova/blob/master/main.go

[2020-08-03 14:03] rbren commented on #7
You should be able to choose your context using `kubectl config use-conext` - does that not work for you?

[2020-08-03 16:57] anapsix commented on #7
you're right, it works
imho, it would be awesome to support something like `--kube-context` (like helm does) to do it in one go

[2020-08-03 17:42] sudermanjr commented on #7
I also think that would be a valid feature request.

[2020-08-07 07:49] HaveFun83 opened #9 "no Auth Provider found for name "oidc""
### Installation Process

Github release on local-machine

### Nova Version

[code]

### Expected Behavior

Normal output

### Actual Behavior

[code]

### Steps to Reproduce

enable the oidc provider on the kube-apiserver and try to run nova

[2020-08-13 14:52] #8 closed

[2020-08-19 14:59] rbren commented on #9
Thanks for the report! Fixed in `1.0.3`

https://github.com/FairwindsOps/Nova/pull/15

[2020-08-20 20:58] kr3cj opened #16 "Support install via asdf"
**Is your feature request related to a problem? Please describe.**
Currently, I can install Nova a few different ways (e.g. `go` or `homebrew`). It would be nice to also support installation via an `asdf` plugin.

**Describe the solution you'd like**
Create an `asdf` plugin for Nova. See their [docs](https://github.com/asdf-vm/asdf/blob/master/docs/plugins-create.md) for more info.

**Describe alt

[2020-08-26 09:13] HaveFun83 commented on #9
@rbren thanks a lot. Tested with nova version `2.0.1`

[2020-08-26 09:13] #9 closed

[2020-09-07 09:57] lukasmrtvy opened #17 "[Feature request]: Service with metrics support"
Would be nice to have k8s service similar to https://github.com/jetstack/version-checker with metrics support.

Thanks

[2020-09-21 17:29] kr3cj commented on #16
FYI [asdf-vm/asdf-plugins/pull/277](https://github.com/asdf-vm/asdf-plugins/pull/277) merged

[2020-09-21 17:53] sudermanjr commented on #16
Thanks!

[2020-09-21 17:53] #16 closed

[2020-10-15 17:42] sudermanjr opened #18 "Image version checking"

[2020-10-15 17:43] sudermanjr opened #19 "Add e2e testing"

[2020-10-15 17:48] sudermanjr commented on #17
We could possibly add push gateway support instead since Nova is typically run as a cron

[2020-10-29 16:09] containerpope opened #20 "Nova sometimes does not detect previously detected events"
### Installation Process

Nova is installed by Homebrew.

### Nova Version

[code]
Don't know why version is not showing correct version string, installation date was shortly before this ticket.

### Expected Behavior

Nova should always show the correct version information.

### Actual Behavior

Nova showed an update available for weave-flux once, but the next run this was gone

### Steps to Repr

[2020-10-29 16:30] rbren commented on #20
Thanks for the report! This is very strange.

My first thought is that it might be some kind of caching in the helm repository, but it looks like 1.5.0 [went out months ago](https://github.com/fluxcd/flux/commit/2d31ddfe1c6861edaa73b3ae142dac139a212092).

@makoscafee any other ideas?

[2020-10-29 16:59] makoscafee commented on #20
not sure why, but that strange... let me take a look at this.

[2020-10-29 17:06] mkjoerg commented on #20
@rbren @makoscafee seems to affect random helm charts:

[code]

This time it was sealed-secrets

[2020-10-29 17:11] rbren commented on #20
Hmm - I wonder if the download fails for the repo metadata in the cases where it's not showing a `latest`

[2020-10-30 15:20] rbren opened #21 "2.0 installs as Nova instead of nova"
### Installation Process
Tried both with downloading a release, and with brew

### Nova Version
2.0.1

### Expected Behavior
Should run as `nova`

### Actual Behavior
runs as `Nova`

### Steps to Reproduce

### Additional Context

### References

[2020-11-20 15:39] #21 closed

[2020-11-20 21:36] gabegorelick opened #24 "Ability to manually specify charts to check"
**Is your feature request related to a problem? Please describe.**

Nova does two things according to the README:

I'd like to be able to use Nova for that second part (cross-checking Helm charts against their repositories to see if they're outdated and/or deprecated) without the first part (discovering the charts by scanning a cluster).

For example, scanning may fail if you didn't use `helm inst

[2021-01-15 18:47] sudermanjr opened #28 "Support passing chart version overrides file or parameter"
**Is your feature request related to a problem? Please describe.**

I have a curated set of "standards" that is effectively a list of charts and version that I want to be on. Currently, this doesn't work with Nova because it assumes I want to be on the latest version of any chart that is installed.

**Describe the solution you'd like**

I think a possible solution is to be able to pass "overrides"

[2021-01-15 19:33] #7 closed

[2021-01-20 16:15] sudermanjr opened #31 "Set version from build args rather than static"
This would prevent the version from being forgotten during updates.

[2021-01-20 20:17] #31 closed

[2021-01-20 20:36] #28 closed

[2021-02-23 16:45] kekscode opened #36 "Shouldn't nova be a helm plugin"
**Is your feature request related to a problem? Please describe.**

Not really a problem, but it is confusing me that i would have to use a separate tool for a functionality which is strongly related to the helm release lifecycle (and very helpful).

**Describe the solution you'd like**

I'd like nova to be installable as a helm plugin and use it as a subcommand like `helm whatsnew [...]` includin

[2021-03-05 10:44] Skaronator opened #37 "Make Docker Image Public Available"
**Is your feature request related to a problem? Please describe.**
Instead of installing many small tools on my local machine I often just use the container image since its faster to update or even has auto update when you use the latest tag.

I can see that there is already exist a Dockerfile in this repo but the Image doesn't seem to be public available.

**Describe the solution you'd like**
Pus

[2021-03-05 10:45] Skaronator commented on #37
This would probably also help Windows User since they can run Containers in Windows.

[2021-03-05 13:18] sudermanjr commented on #37
The image is available at https://quay.io/repository/fairwinds/nova

We do not support multi-arch builds just yet.

[2021-03-05 13:18] #37 closed

[2021-03-08 10:33] ninoamine opened #38 "Ability to specify a namespace"
**Is your feature request related to a problem? Please describe.**
Nova does two things according to the README:
Nova scans your cluster for installed Helm charts, then cross-checks them against all known Helm repositories

I'd like to be able to use Nova by namespace.

**Describe the solution you'd like**
Add an option as -n <namespace>

[2021-04-22 10:53] sgrzemski opened #42 "Nova does not work with github.io and googleapis.com Helm repositories"
### Installation Process

Local machine, macOS Big Sur 11.2.3

### Nova Version

[code]

### Expected Behavior

Nova compares installed versions with latest ones.
### Actual Behavior

It does not work for github.io and googleapis.com hosted repos.
### Steps to Reproduce

Deploy some charts to your K8s cluster from any github.io Helm repository with Flux and Kustomize.
### Additional Context

[code

[2021-04-22 13:59] sudermanjr commented on #42
The second error I am pretty sure is due to the deprecation of the old stable and incubator repositories and can be ignored

[2021-04-26 18:17] #6 closed

[2021-04-26 18:17] #17 closed

[2021-04-26 18:17] #36 closed

[2021-04-26 18:17] #38 closed

[2021-05-07 07:15] szymon-grzemski commented on #42
`./nova find -v 8 --helm-version=auto`

[2021-05-07 07:16] sgrzemski commented on #42
`./nova find -v 8 --helm-version=auto`

I cannot get versions detected of several helm charts, but they are from public repos and should be accessible for nova.

[2021-05-11 08:17] sgrzemski commented on #42
Ulimit -n 60000 fixes the issue for not getting the versions. This soft is opening so much connections in parallel that it was trimmed with OS limits.

[2021-06-19 00:50] jstewart612 opened #45 "Support scanning for updates to Helm-backed ArgoCD Application CRDs"
**Is your feature request related to a problem? Please describe.**
ArgoCD has the concept of Application CRDs.  These can source from Helm charts themselves, but do not install helm in the traditional manner.  Rather, it renders the templates, and then applies those to the cluster.  As such, you do not see helm installs with the helm cli, and as such, Nova seems not to be able to find them and ass

[2021-06-19 00:54] jstewart612 commented on #45
If it is helpful for implementation, the fields you'd be looking to scan of that CRD are:

.spec.source.helm.chart: the chart name
.spec.source.helm.targetRevision: A Semantic Release compatible version value

[2021-06-21 12:27] rbren commented on #45
Thanks for the request! This is a great idea

[2021-06-23 15:20] HerrmannHinz commented on #20
i just experience the exact same behaviour:

[code]

any idea how to solve it?

[2021-09-15 08:21] Staggerlee011 opened #52 "Filter output to old = true"
Hi,

Really like the tool, but we have a lot of helm deployments per cluster. is it possible to filter results to only those with old = true or deprecated = true?

[2021-09-17 15:43] sudermanjr opened #53 "Expand default list of helm repositories"
**Is your feature request related to a problem? Please describe.**
There's a lot of helm repos out there now that stable/incubator are disabled. Some of them are very common to use.

**Describe the solution you'd like**
Add a bunch of repos to the default list, some examples from my current list.

[code]

**Describe alternatives you've considered**
another alternative might be to add the current l

[2021-09-21 14:44] rbren commented on #53
We are currently scraping a list of repos from Helm Hub. We should switch to the Artifact Hub API now that Helm Hub is deprecated

https://artifacthub.io/api/v1/packages/search?kind=0&facets=true&sort=relevance&limit=20&offset=0

[2021-09-27 15:39] lucasreed opened #58 "Homebrew Tap does not support m1"
### Installation Process

N/A

### Nova Version

N/A

### Expected Behavior

Installation should work on m1 mac machines

### Actual Behavior

https://github.com/FairwindsOps/pluto/issues/197

### Steps to Reproduce

1. Have an m1 mac
2. `brew install FairwindsOps/tap/nova`

### Additional Context

N/A

### References

- https://github.com/FairwindsOps/pluto/issues/197

I can submit a PR to fix th

[2021-09-27 18:15] #58 closed

[2021-10-12 17:42] dyennam commented on #18
https://github.com/replicatedhq/outdated/
this tool already does the image checks. but doesnt work with private repo's as of yet.
Would be nice if NOVA did both helm and image checks.

[2021-11-19 20:21] sudermanjr opened #62 "Enable scanning yaml that has been templated from a helm chart"
**Is your feature request related to a problem? Please describe.**
If I generate my yaml and then apply it, there's no helm release object, rendering nova useless to me.

**Describe the solution you'd like**
If I want to maintain a repository of Yaml manifests that have been generated by a `helm template` command, the generated yaml will still generally have the helm annotations that say what char

[2021-11-19 20:23] jpelletier1 commented on #62
Sounds like a great idea, and one that would expand Nova usage.

[2021-11-25 07:55] MrKrabat opened #63 "Dependency updates"
**Is your feature request related to a problem? Please describe.**
I want to know if helm chart dependencies have updates.

As an example, the helm chart bitnami/keycloak also deploys bitnami/postgresql as a dependency. The version tag `version: 10.x.x` allows postgresql to get updates.
https://github.com/bitnami/charts/blob/master/bitnami/keycloak/Chart.yaml

**Describe the solution you'd like**

[2021-11-29 18:21] sudermanjr commented on #63
@MrKrabat That's an interesting idea, thanks for sharing! This seems like it might be possible, so I have marked it as an enhancement.

[2021-12-06 16:34] HariSekhon opened #64 "Kustomize Helm update tracking"
Would it be possible for Nova to scan Kustomize's `kustomization.yaml` helmCharts versions and notify if the chart version in there is outdata?

An example of such a `kustomization.yaml` implementing the Polaris helm chart is here:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/polaris-kustomization.yaml

[2021-12-24 10:56] Matthias64 commented on #20
Hello,

I have the same issue with latest versions being detected very inconsistently.

[code]

Is there something we can do to resolve that issue ?

Thank you.

[2022-02-02 14:01] Grounz opened #69 "Generate prometheus metrics"
**Feature.**

In production environment we want get alerts when a chart become deprecated, or when a chart is not up to date

**Description**
For each helm charts found on K8S cluster nova create a prometheus metrics. This metrics contains many labels.

The metrics `nove_helm_uptodate_metrics` will be equal to 1 if chart deployed is not up to date.

[code]

And other metrics should be a metrics on

[2022-02-02 14:07] sudermanjr commented on #69
@Grounz thanks for the request!

Nova doesn't run as a long-lived process, so I'm not sure how to do this without adding a very large amount of code to turn Nova into a daemon of some kind. It's probably possible, but in my mind doesn't line up with the current workflow of Nova. Would it be better to maybe add prometheus push support and run it as a cronjob?

Another option would be to have a sepa

[2022-02-02 14:16] rbren commented on #69
Agreed - definitely a big lift to get something log lived in the cluster.

IMO it's probably out of scope for this project, but I'm open to it.

[2022-02-06 02:26] #63 closed

[2022-02-07 15:11] avinash-sre commented on #20
Hello
I have got the same issue with the below version.
Version:2.4.0 Commit:23b75197af43dc53ccdaae0f6874563b96caa63f

Is there any expected date for the fix?

[2022-02-08 21:03] rbren commented on #20
Hey folks - as of 3.0.0, we are using Artifact Hub as a source, instead of reaching out directly to the chart repositories. That should make this issue go away entirely 🎉

If y'all have any feedback on 3.0 let us know!

[2022-02-08 21:03] #20 closed

[2022-02-10 09:57] ctavian opened #71 "The "poll-helm-hub" and "url" features in the config file no longer work"
### What happened?

Hello, After the Nova 3.0.0 update, the "url:" and "poll-helm-hub:" features are no longer present.
As a result, I find myself with versions of charts in nightly-build and not in release version or tags that no longer corresponds to the original convention : example for "kubed".

Also, Artifacthub does not have the set of available helms : example for "csi-secrets-store".

Exam

[2022-02-10 10:29] ctavian opened #72 "The CHANGELOG.md is not update in repo"
Hello,

I noticed that the change log does not have information on new releases (example on breaking changes).

What do you think ? Should we remove it or add a task in the CI to verify that the CHANGELOG file has been updated before merging.

[2022-02-10 10:33] klis commented on #71
I would like to add that ArtifactHub has older versions of some charts. For example, `kubernetes-replicator` has version `1.0.15` on [the ArtifactHub](https://artifacthub.io/packages/helm/jenkins-x/kubernetes-replicator), and in the GitHub repo, it is `2.7.3` - [link to the Charts.yaml ](https://github.com/mittwald/kubernetes-replicator/blob/master/deploy/helm-chart/kubernetes-replicator/Chart.yam

[2022-02-10 14:55] sudermanjr commented on #72
My preference is to remove it and let the goreleaser notes in the release object handle this for us. It's how we did it in our other projects.

@rbren @makoscafee will have to weigh in as CODEOWNERS though.

[2022-02-10 16:26] ctavian commented on #72
Ok thank you for your answers, in my opinion, version 3.0.0 created a break on features present in version 2.4.0 (view https://github.com/FairwindsOps/nova/issues/71).

[2022-02-10 20:10] sudermanjr commented on #72
@rbren I think we should enforce that PR names for breaking changes should have `[Breaking]` in them. This will make sure they show up in the release notes.

[2022-02-12 02:23] #64 closed

[2022-02-15 19:16] sudermanjr commented on #69
I think a separate exporter _could_ work, but also likely outside the scope of this repo. If someone wanted to create that separately I think it might work. I don't think we have tested the external usability of the Nova packages, so there might be issues with that. A wrapper that shells out could be functional as well.

I am with @rbren, I think we should leave this open and see if it gets additi

[2022-02-16 12:41] HariSekhon commented on #64
@sudermanjr @lucasreed any chance you could re-open and pin this?

I think it'd be a useful feature and the github actions workflow to close it was a bit aggressive.

[2022-02-16 20:42] lucasreed commented on #71
@ctavian and @klis thanks again for your input here. I've opened PR #74 if you would want to test those out. If you have a working go install on your workstation you can simply pull down this repo + that branch and run `make build` and then use `./nova` like you would normally.

One thing of note is that `poll-helm-hub` is gone for good but is now replaced by `poll-artifacthub`. Please comment on

[2022-02-17 08:23] ctavian commented on #71
@lucasreed, Thanks, it works! :)

[2022-02-17 08:30] klis commented on #71
@lucasreed & @ctavian are you sure about the logic?
I tried it and looks like that when I specify the URL, only that URL is shown in the output. For example, if I run the default options I get a list of "all" charts that are available on ArtifactHub. Pay attention to the `kubernetes-replicator` versions.
[code]

Now, I do the same thing, but only I add 2 flags, one to still poll ArtifactHub, anoth

[2022-02-17 10:05] ctavian commented on #71
Hello @klis,

I think there might be a problem with the precedence of the value when you use both --url and the poll-artifacthub to true.

In your case, you just want to add new, more recent repositories, see missing from artifacthub.

However, how will nova behave to choose the version between what is provided by the URL and by artifacthub.

[2022-02-17 10:25] klis commented on #71
So, what I would do is that if the chart is provided via URL then just skip artifacthub. This still means that if the provided URL has an older version then the artifacthub nova will show the old version (kubernetes-replicator example from my previous comment).
If I add `--include-all` flag, nova will list all the Helm charts, but only one will have `Latest` filled.
Would be nice to have all the d

[2022-02-17 14:17] lucasreed commented on #71
In my testing it should work with both `--url` and artifacthub in one run. Could you add the `--v=8` to your command so we have more logging?

[2022-02-18 13:56] lucasreed commented on #71
Thanks @klis! I'll try to replicate this locally and go from there.

[2022-02-18 16:03] klis commented on #71
It was working, but it looks like artifacthub has some issue currently, so I will try again later. With the CLI flags and with the config file.

[2022-02-18 20:08] lucasreed commented on #71
@klis good find! I just pushed up another change that I think captures this case too. Once this is validated I think we're in a good place to merge the PR and cut a release.

[2022-02-19 07:34] klis commented on #71
Looks good to me

[2022-02-21 08:17] #72 closed

[2022-02-21 08:18] #71 closed

[2022-03-18 12:56] cdestouni-fmp opened #85 "The results are not finding the upstream releases for certain helm repos"
### What happened?

Ran the nova find cmd on my cluster.

### What did you expect to happen?

Return the helm chart versions I have installed and also the latest versions from each helm-chart repo. I got most new releases back but there were some which did not work.

### How can we reproduce this?

Install the below helm charts on a k8s cluster and run nova find
- sorry-cypress v1.2.0 (https://git

[2022-03-18 12:57] rbren opened #86 "Make it easier to output JSON"
**Is your feature request related to a problem? Please describe.**
If I want to output JSON, I seem to have to set --output-file. There's no way to output JSON to stdout, or non-json to a file

**Describe the solution you'd like**
Have separate --output-file and --format flags

**Describe alternatives you've considered**
Better documentation of existing behavior

**Additional context**
https://fai

[2022-03-18 13:46] sudermanjr commented on #85
@lucasreed  I looked, and the sorry-cypress chart at least is listed in artifact hub. Not sure what's going on here. https://artifacthub.io/packages/helm/sorry-cypress/sorry-cypress

[2022-03-18 14:00] lucasreed commented on #85
@cdestouni-fmp what version of Nova are you using? I see in your PR comment you entered `0.0.1` but that's not a valid release that we put out. If you aren't using v3.0.0 or higher could you upgrade to that? If you are, please include the output from the commands below:

`nova version`

`nova find --wide -v8`

[2022-03-18 15:04] cdestouni-fmp commented on #85
@lucasreed I was using an old version 1.0.0 and since then have upgraded to 3.0.2. I tried the command again and it worked the first time round, but since then its been returning error code 429 when trying to reach out to the artifact hub. Guessing i'm blocked for doing too many requests for now. However the issue can be closed because it did locate more versions before I got blocked.

[2022-03-18 15:04] #85 closed

[2022-03-24 21:12] jstewart612 commented on #45
A colleague actually did work on this locally and I have recommended submission here for wider adoption of the feature.

[2022-04-05 17:21] lucasreed opened #94 "Feature(cache file when using artifacthub)"
**Is your feature request related to a problem? Please describe.**
When running locally in quick succession it is likely you will hit rate limits on the artifacthub API, especially if you have a lot of helm releases.

**Describe the solution you'd like**
A local cache file that is on by default. We'll want the file to include the datetime of when it was last pulled. There can be a configurable exp

[2022-04-14 12:54] UncleIS opened #96 "splunk-connect-for-kubernetes subcharts versions are not identified properly"
### What happened?

Nova tool was unable to identify the upstream versions of `splunk-connect-for-kubernetes`:

[code]
No matter which URL I specify, the latest version is no identified.

Original charts are coming from this repo: https://github.com/splunk/splunk-connect-for-kubernetes. Helm repo listing looks as follows:

[code]

### What did you expect to happen?

Nova would identify the latest

[2022-04-18 19:16] lucasreed commented on #96
Hey @UncleIS, thanks for the report, I'll take a look at this as soon as I can.

[2022-04-19 06:06] sudermanjr opened #99 "Pre-release versions of charts should be ignored"
### What happened?

[code]

### What did you expect to happen?

I expected to see 4.0.19 as the latest version for ingress-nginx

### How can we reproduce this?

Install ingress-nginx chart, run `nova find`

### Version

Version:3.0.2 Commit:f8f0448ca2362fff6797578a595308dd956ce462

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I a

[2022-04-19 06:06] sudermanjr commented on #99
Even better - a flag to enable finding pre-release versions. Maybe another issue for a feature.

[2022-04-25 13:58] der-ali commented on #86
+1

[2022-04-25 20:05] lucasreed commented on #96
That's interesting. I'm unable to reproduce this when installed locally:

[code]

[2022-04-25 20:11] lucasreed commented on #96
@UncleIS Could you provide the output of your command again, but add the `-v 8` arg at the end for more logging?

[2022-04-25 20:14] lucasreed commented on #96
I get the same output when I install the newest chart version as well:

[code]

[2022-04-28 10:19] UncleIS commented on #96
Hi! The thing is that we do not use the wrapping chart `splunk-connect-for-kubernetes`, but instead we install two sub-charts separately: `splunk-kubernetes-logging` and `splunk-kubernetes-objects`.

Here are the logs that you asked for (I'm deleting the lines unrelated to the issue in question):
[code]

[2022-04-28 20:25] lucasreed commented on #96
Ah yeah I think because of the way that repository is set up there is not repository metadata for these subcharts. This is unfortunately a situation where nova will not be able to help currently.

[2022-04-28 20:25] #96 closed

[2022-05-02 01:37] sam-cgr opened #102 "Issues with artifact.io rate limiting"
Does anyone have issues around the rate limiting given a large number of helm charts? Is there a way to filter out which helm charts are being searched for?

[2022-05-02 13:26] sudermanjr commented on #102
There have been some reports of issues with rate limiting in large environments. Hopefully https://github.com/FairwindsOps/nova/issues/94 will help, but we don't have a perfect solution just yet.

One option is to avoid polling artifact hub and use a config file that specifies the repositories you know you are using instead. I realize that's not a perfect solution, but it does provide a workaround

[2022-05-03 02:02] sam-cgr commented on #102
@sudermanjr thanks for that good idea.

[2022-05-03 02:02] #102 closed

[2022-05-04 15:44] cmodi-cogito opened #103 "Nova find - could not detect helm 3 charts"
### What happened?

I have helm version - v3.3.1 and able to list helm releases in cluster
When I run nova command, I am getting this error.

`$ nova find`

root.go:207] error getting helm releases: could not detect helm 3 charts: list: failed to list: stream error when reading response body, may be caused by closed connection. Please retry. Original error: stream error: stream ID 1; INTERNAL_ERRO

[2022-05-04 15:57] cmodi-cogito commented on #103
@sudermanjr ^^

[2022-05-09 13:40] darrenwhighamfd opened #106 "Error: concurrent map writes"
### What happened?

When trying to run nova find on my eks cluster it fails with the following error:

[code]

EKS Version: 1.21

### What did you expect to happen?

Standard output of Nova find

### How can we reproduce this?

Re run Nova version commands.

### Version

3.0.2

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree

[2022-05-09 19:56] #18 closed

[2022-05-09 20:15] sudermanjr commented on #103
Are there a large number of helm release secrets in the cluster?

The version of helm is possibly an issue here, but it shouldn't be. We are using the helm libraries from somewhere around 3.8, so 3.3 (which was presumably used to create these releases) may be quite behind.

[2022-05-09 20:17] sudermanjr commented on #106
Did something interrupt the process by chance? This is an odd error. Unless we can find a way to reproduce, this will be difficult to triage.

[2022-05-09 20:18] sudermanjr opened #108 "nova find --containers output to file"
**Is your feature request related to a problem? Please describe.**
`nova find` can output to a file. This does not work with `--containers`

**Describe the solution you'd like**
I would like an output file option the same as `nova find`

[2022-05-11 09:09] darrenwhighamfd commented on #106
Nothing I can see, This seems to happen every-time I run Nova find. Run from my local machine to an EKS cluster. I'm able to connect fine to the cluster and run other tools such as Pluto with no errors.

[2022-05-17 19:04] MarkAndersonTrocme opened #110 "Only show old Charts"
**Is your feature request related to a problem? Please describe.**
We have a lot of charts in our cluster and it would be nice to be able to find only the ones that are on an old version, so hiding all the ones that are `Old false`.

**Describe the solution you'd like**
A flag when you run `nova find` to only show old charts

**Describe alternatives you've considered**
I can get it working with `a

[2022-05-17 21:19] sudermanjr commented on #110
I love this idea. Thanks!

[2022-05-18 16:05] sudermanjr commented on #106
Just to be certain, can you try the latest version of Nova? I'm unable to reproduce this in EKS with either 3.0.2 or 3.1.0, but it's worth a shot.

[2022-05-20 13:22] MarkAndersonTrocme commented on #110
@sudermanjr I'll give this a look today, would `--show-old` be a good flag?

[2022-05-20 17:51] MarkAndersonTrocme commented on #106
@sudermanjr I've also just started running into this issue. Got it when I cloned the repo locally and built it, so it's the latest master. Happens on the master branch and with the current changes I am doing. Seems inconsistent as I can re run it and get the proper output.

[code]

[2022-05-25 17:50] MarkAndersonTrocme commented on #106
@sudermanjr I just update nova and was able to reproduce it:
[code]

If you run `nova find` a few times in a row you will get the error at some point (I ran it 5 times).

[2022-05-25 21:07] sudermanjr commented on #106
@MarkAndersonTrocme would you be able to try #115 and see if that takes care of  the issue?

[2022-05-26 14:39] MarkAndersonTrocme commented on #106
@sudermanjr Didn't get the concurrent map write issue but one related to artifacthub: https://github.com/FairwindsOps/nova/pull/115#issuecomment-1138649800

[2022-05-26 16:02] #106 closed

[2022-06-03 14:13] sudermanjr commented on #110
This slipped under the radar, apologies. I'll leave that determination up to the Codeowners, @rbren  and @makoscafee

Thanks for the PR!

[2022-06-03 17:59] scalp42 commented on #86
Agreed, it'd be very useful!

[2022-06-09 11:23] nagyzekkyandras commented on #86
+1

[2022-06-22 13:28] rbren opened #122 "`nova --containers` recommends wrong image"
### What happened?

ran `nova --containers` and it found `docker.io/bitnami/jenkins:2.249.3-debian-10-r6`. It recommended tag `2.332.3` instead of `2.332.3-debian-11-r6`.

Tricky situation but I think we should be able to parse it.

### What did you expect to happen?

Recommend a debian tag

### How can we reproduce this?

Install `docker.io/bitnami/jenkins:2.249.3-debian-10-r6` and run `nova --co

[2022-06-22 13:31] rbren opened #123 "`--include-all` seems to be used inconsistently"
### What happened?

The `--include-all` flag says it will "Show all charts even if no latest version is found."

However, when using `--containers`, it seems to work more like `--show-old=false`. By default `--containers` only outputs old containers, but adding `--include-all` causes it to show up-to-date containers.

### What did you expect to happen?

* Updated documentation for flags that refer

[2022-06-22 14:07] sudermanjr commented on #122
This was discussed in detail during the development of this feature, and it was decided to go this route due to the extremely inconsistent use of non-semver tags

[2022-06-22 14:08] sudermanjr commented on #122
Please see the detailed description in https://github.com/FairwindsOps/nova/pull/95, as well as the `--show-non-semver` flag

[2022-06-29 19:53] #86 closed

[2022-07-06 08:35] evgkrsk commented on #38
Nova needs cluster-scope secrets list permission in RBAC, which leads to inability to work with typical OpenShift cluster:

[code]

[2022-07-16 02:18] #108 closed

[2022-07-16 02:18] #103 closed

[2022-07-22 05:01] kimschles opened #134 "Nova unable to flag deprecated Helm charts"
### What happened?

While working on a blog post about Nova, I wasn't able to get the tool to flag 2 deprecated charts.

I installed [nginx-ingress](https://github.com/helm/charts/tree/master/stable/nginx-ingress) and [kube2iam](https://github.com/helm/charts/tree/master/stable/kube2iam) from the deprecated helm chart repo, but nova is still reporting that these are not deprecated:

[code]
I'm run

[2022-07-22 13:43] sudermanjr commented on #134
If we were able to get [this feature](https://github.com/helm/community/pull/224) added to helm, we could eliminate this issue.

[2022-08-12 11:09] oliverbaehler opened #137 "Context Deadline"
**Is your feature request related to a problem? Please describe.**
We are getting `context deadline exceeded`  for most of our images. This is because our registry is kinda slow:

[code]

Therefor the container scan only works for images which are **not** on our registry:

[code]

**Describe the solution you'd like**
Increase the context deadline

**Describe alternatives you've considered**
We wil

[2022-08-12 13:57] sudermanjr commented on #137
I'm not certain we actually control that, but I will mark this as an enhancement request. Thanks for reporting!

[2022-08-16 09:42] HariSekhon opened #141 "Kustomize Helm support - detect outdated helmCharts in kustomization.yaml"
## Problem Statement

When installing Helm charts via Kustomize, because Kustomize renders the helm template to apply instead of running a helm install, Nova does not address the use case of outdated Helm charts in Kustomize configurations.

#### Use Case Example

My public kubernetes repo with lots of `*-kustomization.yaml` files with Helm charts embedded in them:

https://github.com/HariSekhon/K

[2022-08-16 16:32] sudermanjr commented on #141
I agree, we definitely have a gap where helm-templated and gitops solutions are excluded from Nova.

The proposed solution here could work, but how do you propose to do in-cluster scanning? The proposed solution in #62 would cover both in-cluster and out-of-cluster, and would cover almost all use-cases, rather than specifically one tool at a time. ArgoCD and Kustomize are only 2 tools in an ever-e

[2022-08-16 16:41] HariSekhon commented on #141
I agree that the #62 solution is more universal.

From the point of view of CI/CD and Kustomize, this is a very nice to have and a lower implementation bar IMO, which is why I mention it here.

Otherwise in my GitHub Actions CI/CD I'll have to actually deploy the Kustomize to a K8s cluster and then run Nova against the live cluster to scan for new updates, which is pretty inefficient.

[2022-08-23 11:26] HariSekhon commented on #62
I've created a CI/CD workflow that installs all `kustomization.yaml` apps and then runs Nova.

Right now it finds nothing because Nova must be looking for Helm release information, but once it starts scanning for applied templates via helm annotations I can use this workflow to immediately test it:

https://github.com/HariSekhon/Kubernetes-configs/runs/7971985694?check_suite_focus=true

[2022-08-23 11:26] HariSekhon commented on #141
I've created a CI/CD workflow that installs all kustomization.yaml apps and then runs Nova.

Right now it finds nothing because Nova must be looking for Helm release information, but once it starts scanning for applied templates via helm annotations I can use this workflow to immediately test it:

https://github.com/HariSekhon/Kubernetes-configs/runs/7971985694?check_suite_focus=true

[2022-08-23 11:27] HariSekhon commented on #141
I would still like the file scanning level of-course though, as this is a pretty heavy and slow solution to the problem of parsing out the helm chart version from `kustomization.yaml`.

[2022-08-23 11:29] HariSekhon commented on #62
Ideally Nova could work on the resulting yaml by using the helm annotations to get the version information and compare that to upstream as that is much faster and more efficient and gives more options for CI/CD integration.

[2022-08-23 20:09] dhduvall commented on #63
I'd really love to see this, too. I have some private charts that are simply wrappers around public ones, and while I don't really need to be told about updates to the private ones, I do need to know when their public dependencies are out of date.

[2022-08-23 20:21] dhduvall commented on #63
I can see that this would be a substantial change, though, since `nova` outputs `Release`s, and `helm` doesn't treat dependencies as `Release`s.

[2022-08-24 13:41] sudermanjr commented on #63
Sounds like a valid use-case to me, I like it! Would happily support a community contribution on this too!

[2022-08-29 02:20] #123 closed

[2022-08-29 13:39] Gui13 commented on #69
I want that!

[2022-08-30 07:14] Gui13 commented on #69
There's also the possibility that nova creates ressources of reports (using a specific CRD) on the Kubernetes etcd, and then have a micro service retrieving the last CRD to expose it as prometheus metrics.

It might be simpler.

[2022-09-01 14:33] HariSekhon commented on #141
FYI I created another script `kustomize_install_helm_charts.sh` to parse out and install the Helm chart(s) the old-fashioned non-GitOps way using Helm CLI so that Nova can be run on it right now:

https://github.com/HariSekhon/DevOps-Bash-tools/

I've used this in my Kubernetes repo's GitHub Actions CI/CD workflow and this works for me as a workaround until Nova can scan the helm release annotatio

[2022-09-01 14:34] HariSekhon commented on #62
FYI I created another script `kustomize_install_helm_charts.sh` to parse out and install the Helm chart(s) the old-fashioned non-GitOps way using Helm CLI so that Nova can be run on it right now:

https://github.com/HariSekhon/DevOps-Bash-tools/

I've used this in my Kubernetes repo's GitHub Actions CI/CD workflow and this works for me as a workaround until Nova can scan the helm release annotatio

[2022-09-01 19:30] sudermanjr commented on #141
In theory the `--format=table` flag should work for that.

[2022-09-01 22:23] HariSekhon commented on #141
Yeah that solved it, thanks.

I didn't see the flag in `--help` locally because I had 3.0.2 installed but once I upgraded to 3.3.0 I found it and this has solved the output in the CI workflow output.

[2022-09-03 02:19] #122 closed

[2022-10-16 20:21] JVMartin opened #163 "Doesn't work with public helm charts due to request throttling from artifacthub"
### What happened?

`nova find` only works the first time you run it.

After that, artifacthub immediately throttles you with 429s due to the huge volume of requests nova makes to do its work.

Example:
[code]

### What did you expect to happen?

Nova should work properly when ran 2 or more times.

### How can we reproduce this?

Install nova and run it a couple of times.

### Version

Version:3.2

[2022-10-20 02:20] #137 closed

[2022-10-24 15:21] jchambrin opened #169 "Find containers - timeout"
### What happened?

When I launch `nova find --containers --show-errored-containers --format table` on my Kubernetes clusters, I get the following error : `Get "https://index.docker.io/v2/": context deadline exceeded`

### What did you expect to happen?

No timeout

### How can we reproduce this?

Launch `nova find --containers --show-errored-containers --format table` on a cluster with a lot of p

[2022-10-24 17:00] LarsBingBong commented on #163
We've switched to declaring the actual Helm charts repo of each project. Instead of the Artifact Hub. default ... it works better and is correct. I'll suggest you to do the same thing.

[2022-11-09 02:18] #141 closed

[2022-11-15 04:30] hungran commented on #45
+1 on this feature, we have a lot of external applications implement by gitops approach - **argocd** then we are finding a way to check if whether they was update or release.

[2022-11-17 19:45] sudermanjr commented on #163
My hope is that we will be able get https://github.com/helm/helm/pull/11378 merged into helm, which will allow us to stop polling artifacthub so aggressively. Until then, the suggestion from @LarsBingBong is the way I would go.

[2022-11-18 07:14] LarsBingBong commented on #163
@sudermanjr interesting with https://github.com/helm/helm/pull/11378 ... But, it isn't going to alleviate the sore point that on ArtifactHub the project that Nova then would get is not necessarily the official chart but rather someone that forked the official one and the went in another direction with it. For whatever reason. I way rather want to use the official chart.

Thanks

[2022-11-24 23:56] nikskiz commented on #103
I am getting the same error, and when I run in verbose mode I get the following

[code]

I have masked some sensitive values with `xxx`

Based on the request I was able to use kubectl and return the secrets.
`kubectl get secrets -l owner=helm -A`